.mypara {
    color: aqua;
    text-align: center;
}

.consectetur {
    text-align: justify;
}

.dolor {
    text-align: end;
}

.newtext {
    text-align-last: center;
}

.inches {

    word-spacing: 1cm;
    line-height: 30px;
    color: rebeccapurple
}

.personal {
    letter-spacing: 2px;
    line-height: 15px;
    color: aquamarine;
}

.headoffice {
    text-indent: 200px;
    text-indent: 15cm;
}



.mywords {
    white-space: pre;
}

.mywords2 {
    white-space: nowrap;
}

.mywords3 {
    white-space: wrap;
}

.linefromatioms {
    text-transform: lowercase;
}

.capitall {
    text-transform: capitalize;
}

.normallines {
    text-transform: uppercase;
}

.head {
    text-decoration-line: overline;
    text-decoration-style: dashed;
    text-decoration-color: aqua;
    text-decoration-thickness: 2px;
}

.space {
    padding: 10px;
    padding-left: 10px;
    border: 2px solid rebeccapurple;
}

.learn {
    height: 150px;
    width: 250px;
    border: 5px solid rebeccapurple;
}

.gound {
    text-shadow: 3px 3px rgb(21, 52, 144);
}

.Property {

    background-color: aqua;
    height: 80px;
    width: 350px;
    border: 1mm solid black;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-right-color: blue;
    border-right-style: dashed;
}

.none {
    border-style: none;
}

.hidden {
    border-style: hidden;
}

.dotted {
    border-style: dotted;
}

.dashed {
    border-style: dashed;
}

.solid {
    border-style: solid;
}

.double {
    border-style: double;
}

.groove {
    border-style: groove;
}

.ridge {
    border-style: ridge;
}

.inset {
    border-style: inset;
}

.outset {
    border-style: outset;
}

.mixed {
    border-style: none dashed solid dotted;
}

.topstyle {
    border-top-style: dashed;
    border-left-style: double;
    border-right-style: solid;
    border-bottom-style: dotted;
}

.liquid {

    border: 3px solid blueviolet;
    border-width: 8px 12px 16px 18px;

}

.color {
    height: 150px;
    width: 250px;
    border-style: groove;
    border-color: blue red green yellow;
}

.padding {
    height: 150px;
    width: 250px;
    border: 2px solid brown;
    padding: 0.5cm;
}

.change {
    height: 150px;
    width: 250px;
    border: 2px dashed rgb(224, 21, 55);
    background-color: burlywood;
}

.image {
    height: 250px;
    width: 650px;
    border: 3px solid brown;
    text-align: center;

}