.page {
    width: 112px;
    background: #252525;
    list-style: none;
    text-align: left;
    padding: 13px 20px 20px;
    line-height: 28px;
    color: #fff;
}




. {}

.Platform {
    height: 325px;
    width: 1100px;
    background: #080808;
    color: #fff;
    padding: 10px
}

.plat {
    height: 15px;
    width: 11px;
    top: 35px;
    left: 81px;
    background: #c20000;
    transform: skewX(-15deg);
}

.Platform0 {
    height: 310px;
    width: 1081px;
    display: flex;
    padding-left: 15px;
    gap: 10px;
}

.Platform01 {
    list-style: none;
    display: flex;
    gap: 12px;
    font-weight: 400;
}

.plattab1 {
    height: 250px;
    width: 200px;
}