.maincontent {
    height: 565px;
    width: 580px;
    position: relative;
    padding: 7px;
    background-color: white;
}

.card01 {
    height: 25px;
    width: 134px;
    position: absolute;
    left: 20px;
    font-size: 19px;
    font-weight: 700;
}

.card02 {
    width: 170px;
    font-size: 12px;
    position: absolute;
    right: -20px;
    color: rgb(48, 192, 159);
    top: 11px;
    border-radius: 5px;
}

.main02 {
    height: 530px;
    width: 575px;
    position: relative;
    top: 30px;
    background-color: rgb(244, 244, 250);

}

.card03 {
    position: absolute;
    top: 45px;
    left: 230px;
    width: 100px;
    padding: 6px;
    border-radius: 19px;
    background-color: rgba(254, 219, 127, 255);
    color: rgb(135, 107, 64);
}

.card04 {
    position: absolute;
    top: 65px;
    left: 98px;
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
}

.card05 {
    width: 405px;
    position: absolute;
    top: 225px;
    left: 60px;
    font-size: 18px;
    font-weight: 200;
    color: rgb(93 94 97);
}

.card06 {
    width: 405px;
    position: absolute;
    top: 347px;
    left: 60px;
    font-size: 19px;
    font-weight: 600;
    color: rgb(50 54 55);
}

.but {
    height: 40px;
    width: 115px;
    position: absolute;
    top: 450px;
    left: 210px;
    border: none;
    background-color: rgb(48, 192, 159);
}