.my-condent {
    /* height: 800px; */
    /* width: 400px; */
    border: 1px solid red;
    padding: 10px;
    display: flex;

}

.div {
    height: 150px;
    width: 150px;
    border: 1px solid red;
}

.condent {
    border: 1px solid red;
    padding: 10px;
    display: flex;
}

.my-condent01 {

    flex-direction: column;

}

.my-condent02 {

    flex-direction: column-reverse;

}

.my-condent03 {

    flex-direction: row;


}

.my-condent04 {

    flex-direction: row-reverse;

}

.my-condent05 {

    gap: 25px;
}

.my-condent06 {

    flex-direction: column;
    row-gap: 25px;
}

.my-condent07 {

    column-gap: 25px;
}

.my-condent08 {

    flex-wrap: wrap;
}

.my-condent09 {

    flex-wrap: nowrap;
}

.my-condent10 {

    flex-wrap: wrap-reverse;
}

.my-condent11 {

    justify-content: center;
}

.my-condent12 {

    justify-content: start;
}

.my-condent13 {

    justify-content: end;
}

.my-condent14 {

    justify-content: space-around;
}

.my-condent15 {

    justify-content: space-between;
}

.my-condent16 {

    justify-content: space-evenly;
}

.my-condent17 {
    height: 300px;
    width: 300px;
    border: 1px solid red;
    padding: 2px;
    display: flex;
    align-items: baseline;
}

.my-condent18 {
    height: 300px;
    width: 300px;
    border: 1px solid red;
    padding: 2px;
    display: flex;
    align-items: center;
}

.my-condent19 {
    height: 300px;
    width: 300px;
    border: 1px solid red;
    padding: 2px;
    display: flex;
    align-items: end;
}