.back {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
}

.back1 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: repeat;

}

.back2 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
}

.back3 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: repeat-x;
}

.back4 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: repeat-y;
}

.position {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-position: top;
    background-repeat: no-repeat;
}

.position1 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.position2 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-position: bottom;
    background-repeat: no-repeat;
}

.position3 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-position: left;
    background-repeat: no-repeat;
}

.position4 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-position: right;
    background-repeat: no-repeat;
}



.xaxis1 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-position-x: center;
}

.xaxis2 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-position-x: 80%;
}

.xaxis3 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.xaxis4 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-position-x: left;

}

.yaxis {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-position-y: top;
}

.yaxis1 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.yaxis2 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-position-y: center;
}

.orgin {
    background-image: url(../image/giphy.webp);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    padding: 5%;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.orgin1 {
    background-image: url(../image/download.png);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    padding: 20%;
    background-repeat: no-repeat;
    background-origin: padding-box;

}

.orgin2 {
    background-image: url(../image/download.png), url(../image/download.png);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    padding: 20%;
    background-repeat: no-repeat;
    background-origin: content-box, padding-box;

}

.attachment {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.attachment1 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.szies {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: auto;
}

.szies1 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.szies2 {
    background-image: url(../image/01.jpg);
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}